app: 
  env: ''

server: 
  port: '${APP_PORT}'  

postgres:
  dsn: '${POSTGRES_DSN:-postgres://postgres:password_local_dev@postgres:5432/payment_processing_system?sslmode=disable}'

kafka:
  bootstrap_servers: '${KAFKA_BOOTSTRAP_SERVERS:-localhost:9092}'
  topic: 'transactions.created'

redis:
  addr: '${REDIS_ADDR}'

jaeger:
  port: '${JAEGER_PORT}'
  port_grpc: '${JAEGER_PORT_GRPC}'

oidc:
  url: '${OIDC_URL}'
  client_id: '${OIDC_CLIENT_ID}'  

opa:
  url: '${OPA_URL}'  

anti_fraud:
  amount_threshold: 1000.0  #TODO: Порог по сумме
  frequency_threshold: 3      # Порог по количеству транзакций
  frequency_window_seconds: 60 # Временное окно для подсчета (в секундах)